@page "/makes/edit/{id:int}"

@inject IHttpRepository<Make> _client
@inject NavigationManager _navManager

<h3>Edit</h3>

<FormComponent ButtonText="Update" OnValidSubmit="EditMake" make="make" />

@code {
	[Parameter] public int id { get; set; }
	Make make = new Make();

	protected async override Task OnParametersSetAsync()
	{
		make = await _client.Get(Endpoints.MakesEndpoint, id);
	}

	async Task EditMake()
	{
		await _client.Update(Endpoints.MakesEndpoint, make, id);
		_navManager.NavigateTo("/makes/");
	}
}
