@page "/colours/create/"
@inject HttpClient _client
@inject NavigationManager _navManager
@inject HttpInterceptorService _interceptor
@implements IDisposable

<h3 class="card-title">Create New Colour</h3>
<hr />
<br />

<FormComponent ButtonText="Create Colour" OnValidSubmit="@CreateColour" colour="colour" />

@code {
    Colour colour = new Colour();

    private async Task CreateColour()
    {
        _interceptor.MonitorEvent();
        await _client.PostAsJsonAsync(Endpoints.ColoursEndpoint, colour);
        _navManager.NavigateTo("/colours/");
    }

    public void Dispose()
    {
        _interceptor.DisposeEvent();
    }
}