@page "/bookings/edit/{id:int}"

@inject IHttpRepository<Booking> _client
@inject NavigationManager _navManager

<h3>Edit</h3>

<FormComponent ButtonText="Update Booking" OnValidSubmit="@EditBooking" booking="booking" />

@code {
    [Parameter] public int id { get; set; }
    Booking booking = new Booking();

    protected async override Task OnParametersSetAsync()
    {
        booking = await _client.Get(Endpoints.BookingsEndpoint, id);
    }

    async Task EditBooking()
    {
        await _client.Update(Endpoints.BookingsEndpoint, booking, id);
        _navManager.NavigateTo("/bookings/");
    }
}
